<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>LineSDKConfig</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- URL scheme สำหรับ LINE SDK callback -->
				<!-- เปลี่ยน YOUR_BUNDLE_ID เป็น Bundle Identifier ของแอป -->
				<string>line3rdp.$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<!-- อนุญาตให้แอปเปิด LINE app ได้ -->
		<string>lineauth2</string>
	</array>
</dict>
</plist>
